@import '~antd/dist/antd.less';
@import 'fonts.less';
@import 'defaults.less';

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #00ba70;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #00ba70, 0 0 3px #00ba70;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.ant-form-item-label > label::after {
  margin-left: 0;
}

.ant-select-dropdown-menu-item {
  color: #4a5d85;
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #f7f9fc;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #f7f9fc;
}

.ant-select-dropdown-menu-item-selected {
  font-weight: 400;
  background-color: #ffffff;
}

@keyframes animated-rocket-icon {
  0% {
    animation-timing-function: cubic-bezier(0.1028, 0.2484, 0.1372, 0.849);
    transform: scale(1);
  }
  34% {
    animation-timing-function: cubic-bezier(0.7116, 0.2095, 0.8159, 0.6876);
    transform: scale(1.2);
  }
  68% {
    animation-timing-function: cubic-bezier(0.1475, 0.2888, 0.294, 0.883);
    transform: scale(1.0268);
  }
  84% {
    animation-timing-function: cubic-bezier(0.8176, 0.2193, 0.867, 0.6889);
    transform: scale(1.0932);
  }
  100% {
    transform: scale(1);
  }
}
